// Layout do Projeto

// Tamanho do Container para dispositivos.
$container-xl: 1440px;
$container-l: 1216px;
$container-m: 960px;
$container-s: 620px;
$container-xs: 340px;

// Espaçamento padrão entre colunas.
$gutter: 32px;

// Mixin - Definindo responsividade através de funções, de forma automática.

// EX) Para aplicar em uma classe, responsividade em tela menor que 960px:
// @include responsive(s) {
//   SERÁ EXECUDATO O QUUE FOR PASSADO AQUI DENTRO!
// }

@mixin responsive($device) {
  @if $device == xl {
    // Para resoluções maiores que 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } @else if $device == ul {
    // Para resoluções maiores que 960px
    @media screen and (min-width: $container-m) {
      @content;
    }
  } @else if $device == l {
    // Para resoluções entre 1140px e 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  } @else if $device == m {
    // Para resoluções entre 960px e 1140px
    @media screen and (max-width: $container-l) and (min-width: $container-s) {
      @content;
    }
  } @else if $device == s {
    // Para resoluções menores que 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  } @else if $device == xs {
    // Para resoluções menores que 340px
    @media screen and (max-width: $container-xs) {
      @content;
    }
  }
}

// Função para dividir automaticamente a tela em Grids, são 12 no total.
// A função irá respeitar o tamanho de tela presente, com responsividade.
@function grid($col, $total: 12) {
  @return ($col / $total) * 100%;
}
// Looping da função p/ determinar tamanho do grid e responsividade.
@for $i from 1 through 12 {
  .grid-#{$i} {
    width: calc(#{grid($i)} - #{$gutter});
    margin: $gutter / 2;

    padding: 16px 0px;
    float: left;

    @include responsive(s) {
      width: calc(100% - #{$gutter});
      float: none;
    }
  }
}
// Looping da função p/ determinar apenas o tamnho do grid, sem "quebrar" a página.
@for $i from 1 through 12 {
  .grid-nobreak-#{$i} {
    width: calc(#{grid($i)} - #{$gutter});
    margin: $gutter / 2;

    padding: 16px 0px;
    float: left;
  }
}

// Estrutura de container para aplicar na página.
.container {
  max-width: $container-l; // Definindo tamanho padrão para container.
  margin: 0 auto; // Centralizando container.

  padding: 128px 24px; // Espaçamento-> eixo y: 128px - eixo x: 24px.

  // Evitar scroll para o lado, caso algum filho vazer o container.
  overflow: hidden;

  // clearfix
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  // Aplicando responsividade: ao chegar no 960px.
  @include responsive(s) {
    flex-direction: column;

    padding: 96px 16px;
  }
}

.disappear {
  @include responsive(s) {
    display: none;
  }
}

.row {
  // clearfix
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Classe para que os elementos fiquem em posição relativa. (Sempre aplicar na div pai)
.relative {
  position: relative;
}

// Classes pré-definidas para FLEXBOX (Sempre aplicar na div pai)

// Alinhar elementos lado a lado.
.flex {
  display: flex;
}
// Flexbox p/ que os elementos fiquem alinhados da esquerda p/ direita.
.flex-start-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
// Flexbox p/ que os elementos fiquem alinhados da direita p/ esquerda.
.flex-end-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
// Flexbox p/ que os elementos fiquem em alinhados em coluna da esquerda p/ direita.
.flex-start-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
// Flexbox p/ que os elementos fiquem centralizados verticalmente e horizontalmente.
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Flexbox p/ que os elementos fiquem em colunas e centralizados.
.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
// Flexbox p/ que os elementos fiquem alinhados em cada ponta da div.
.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  // Aplicar reponsividade.
  @include responsive(s) {
    //flex-direction: column;
    //align-items: flex-start;
  }
}
// Flexbox p/ que os elementos fiquem em colunas
.flex-column {
  flex-direction: column;
}
// Flexbox p/ que os elementos quebrem a linha no container, quando necessario.
.flex-wrap {
  flex-wrap: wrap;
}

//Gaps
.gap-1 {
  gap: 8px;
}

.gap-2 {
  gap: 16px;
}

.gap-3 {
  gap: 24px;
}

.gap-4 {
  gap: 32px;
}

// Biblioteca Flexbox | Itens filhos

// PROPRIEDADES DO ELEMENTO -> flex: (flex-grow) (flex-shrink) (flex-basis)
// (flex-grow): Capacidade do elemento se expandir em relação aos outros.
// (flex-shrink): Capacidade do elemento se contrair em relação aos outros.
// (flex-basis): Definir tamanho inicial do elemento antes de qualquer expansão ou contração.
.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-auto {
  flex: 1 1 auto;
}

// Larguras e Alturas

// Altura automática p/ o elemento.
.h-100 {
  height: 100vh;
}

.h-100p {
  height: 100%;
}

.h-auto {
  height: auto !important;
}
// Largura automática p/ o elemento.
.w-auto {
  width: auto;
}
// Largura de 100% do tamanho p/ o elemento em relação ao pai.
.w-100 {
  width: 100%;
}
// Largura de 75% do tamanho p/ o elemento em relação ao pai.
.w-75 {
  width: 75%;
}
// Largura de 50% do tamanho p/ o elemento em relação ao pai.
.w-50 {
  width: 50%;
}
// Largura de 25% do tamanho p/ o elemento em relação ao pai.
.w-25 {
  width: 25%;
}

// Bordas

// Borda abaixo do elemento.
.bb-black {
  border-bottom: 1px solid $black-light;
}
// Borda acima do elemento.
.bt-black {
  border-top: 1px solid $black-light;
}
// Borda a esquerda do elemento.
.bl-black {
  border-left: 1px solid $black-light;
}
// Borda a direita do elemento.
.br-black {
  border-right: 1px solid $black-light;
}

// Borda MAIS GROSSA abaixo do elemento.
.bb-gray {
  border-bottom: 2px solid $black-normal;
}
// Borda MAIS GROSSA acima do elemento.
.bt-gray {
  border-top: 2px solid $black-normal;
}
// Borda MAIS GROSSA a esquerda do elemento.
.bl-gray {
  border-left: 2px solid $black-normal;
}
// Borda MAIS GROSSA a direita do elemento.
.br-gray {
  border-right: 2px solid $black-normal;
}

// Backgrounds
.bg-gray {
  background-color: $black-normal;
}

// Tamanhos para logos
.logo {
  max-width: 64px;
  min-width: 48px;
}

// Definições para fotos de profile (avatar).
.profile {
  width: 48px;
  height: 48px;

  border-radius: 50%;
}
.profile-big {
  width: 128px;
  height: 128px;

  border-radius: 50%;
}
.profile-img {
  border-radius: 50%;
  border: 2px solid $primary-500;
}
.card {
  border: 1px solid $black-light;
  border-radius: 4px;
  background-color: rgba(15, 20, 31, 0);

  transition: 0.2s ease;

  &:hover {
    background-color: rgba(15, 20, 31, 0.2);
  }
}

.bg-section {
  background-color: rgba(15, 20, 31, 0.5);
}

// Cards para sinalização ao usuário
.card-danger {
  border: 2px solid $red-normal;
  border-radius: 4px;

  background-color: rgba(240, 61, 61, 0.2);
}
.card-success {
  border: 2px solid $green-normal;
  border-radius: 4px;

  background-color: rgba(11, 176, 123, 0.2);
}
.card-warning {
  border: 2px solid $yellow-normal;
  border-radius: 4px;

  background-color: rgba(255, 206, 82, 0.2);
}
.card-info {
  border: 2px solid $primary-500;
  border-radius: 4px;

  background-color: rgba(27, 105, 210, 0.2);
}

.ilustration {
  max-width: 190px;
}

.ilustration-big {
  max-width: 240px;
}

// Section Casal Info
.p-title-alt {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 10px !important;
  text-align: center;

  @include responsive(s) {
    font-size: 14px;
    letter-spacing: 8px;
  }
}

.border-noiva {
  border: 1px solid rgba(182, 101, 177, 0.3);
  padding: 4px 8px 4px 16px;
}
.border-noivo {
  border: 1px solid rgba(59, 72, 66, 0.3);
  padding: 4px 8px 4px 16px;
}

.fix-spacing {
  margin-left: 24px !important;
  margin-right: 24px !important;

  @include responsive(s) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.fix-mobile-spacing {
  @include responsive(s) {
    padding-top: 0 !important;
  }
}

// Section Contador
.bg-contador {
  background-image: url("../../img/contador-img.png");
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  z-index: -1;

  &::before {
    content: "";
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: -2;

    background-color: rgba(0, 0, 0, 0.6);
  }
}

#contador {
  padding: 8px 16px;

  gap: 32px;

  .item {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  @include responsive(s) {
    display: grid;
    grid-template-columns: 1fr;

    gap: 40px;

    .item span {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.dias,
.horas,
.minutos,
.segundos {
  color: $white-light;
  padding: 8px 16px;
  border-radius: 8px;

  margin-bottom: 8px;

  @include responsive(s) {
    padding: 0px 8px;
  }
}

// Section Casal Big

.casal {
  margin-top: 200px;

  @include responsive(s) {  

    .card-noiva {
      margin-top: 240px !important;
    }
  }
}

.card-noivo {
  background-color: $primary-100;

  h3 {
    margin-top: 180px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;

    width: 300px;
    height: 300px;

    border-radius: 150px;
    border: 10px solid $white-light;

    transform: translate(-50%, -50%);

    top: 0;
    left: 50%;

    background-image: url("../../img/noivo.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include responsive(s) {
      width: 200px;
      height: 200px;
    }
  }
}

.card-noiva {
  background-color: $secondary-100;

  h3 {
    margin-top: 180px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;

    width: 300px;
    height: 300px;

    border-radius: 150px;
    border: 10px solid $white-light;

    transform: translate(-50%, -50%);

    top: 0;
    left: 50%;

    background-image: url("../../img/noiva.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include responsive(s) {
      width: 200px;
      height: 200px;
    }
  }
}
