header {
  width: 100%;
  height: 100vh;

  z-index: 1;

  @include responsive(s) {
    // fazer com que o Menu fique fixo na tela, indenpendente do Scroll
    position: fixed;
    background-color: $white-light;
  }
}

.menu {
  list-style: none;

  gap: 40px;

  @include responsive(s) {
    display: none;
  }
}

.bx {
  display: none;

  position: relative;

  width: 32px;
  height: 24px;

  cursor: pointer;

  .bx-top,
  .bx-center,
  .bx-bottom {
    background-color: $secondary-500;
    width: 100%;
    height: 4px;

    transition: transform 0.3s ease;
  }

  .bx-center {
    margin: 4px 0;
  }

  &:hover {
    .bx-top {
      transform: translateY(-4px);
    }

    .bx-bottom {
      transform: translateY(4px);
    }
  }

  @include responsive(s) {
    display: block;
  }
}
.bx.active {
  .bx-top,
  .bx-center,
  .bx-bottom {
    display: none;
  }

  &::after {
    content: "";
    display: block;

    width: 70%;
    height: 4px;

    position: absolute;

    transform: translate(-50%, -50%) rotate(135deg); // girar o tracinho em 135°
    // centralizar os eixos x e y
    top: 50%;
    left: 50%;
    // transição para tracinho virar 'x'
    transition: 0.3s ease;

    background-color: $secondary-500;
  }
  &::before {
    content: "";
    display: block;

    width: 70%;
    height: 4px;

    position: absolute;

    transform: translate(-50%, -50%) rotate(-315deg); // girar o tracinho em 315°
    // centralizar os eixos x e y
    top: 50%;
    left: 50%;
    // transição para tracinho virar 'x'
    transition: 0.3s ease;

    background-color: $secondary-500;
  }
}

.menu-mobile {
  // ocupar 100% da largura do pai (.relative)
  width: 100%;
  // ocupar 100% da altura da página, abaixo do menu
  height: 100vh;

  background-color: $white-light;

  // transição para mostar menu
  transition: 0.7s ease;

  position: absolute;
  top: 0;
  left: -120%; // menu mobile desativado

  li {
    list-style: none;

    .link-menu-mobile {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 24px 32px;

      color: $gray-6 !important;

      &:hover {
        padding-left: 48px;
        color: $secondary-500 !important;
      }
    }
  }
}
.menu-mobile.showmenu {
  // ocupar 100% da largura do pai (.relative)
  width: 100%;
  // ocupar 100% da altura da página, abaixo do menu
  height: 100vh;

  position: absolute;
  top: 0;
  left: -24px;

  z-index: 999;
}

// Video
.bg-video {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;

  width: 100%;
  height: 100%;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  @include responsive(s) {
    margin: 72px 0;
    height: 75%;
  }

  &::after {
    content: "";
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 580px;
    height: 395px;

    background-image: url("../../img/hero-tiitle.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include responsive(s) {
      width: 100%; /* 100% da largura do elemento pai */
      background-size: contain; /* Garante que a imagem caiba completamente no contêiner */
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);
  }
}
